body{
  font-family: sans-serif;
}

/* canvas */
#canvas{
  border: 1px solid lightgray;
}

#canvas:hover{
  cursor: pointer;
}

.heading{
  margin-top: 40px;
}

/* container */
.container{
  padding: 4px;
  width: 300px;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid lightgray;

  display: flex;
}

.container .color{
  height: 60px;
  width: 60px;
}

.container .info{
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.container .info p{
  margin-top: 8px;
}

/* picked colors */
#pickedColors{
  display: flex;
  flex-wrap: wrap;
}
